.section {
  padding: 20px 50px;
  align-items: center;
  justify-content: center;

  // &:first-child {
  //   align-self: left;
  // }

  &.primary {
    background-color: var(--primary);
  }
  &.secondary {
    background-color: var(--secondary);
  }
}
