.section {
  padding: 4rem 10vw;
  align-items: center;
  justify-content: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }

  &.primary {
    background-color: var(--primary);
  }
  &.secondary {
    background-color: var(--secondary);
  }
}
