.hero {
  min-height: 350px;
  height: calc(50vh - 65px);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  }
}
