.blog-section-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 450px;
  align-items: flex-end;
  display: flex;

  @media (max-width: 960px) {
    height: 250px;
  }

  h1 {
    margin-bottom: 50px;
  }
}

.two-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 95%;
}

.blog-section {
  strong {
    font-size: 1.1rem;
  }
}

.secondary,
.primary-dark {
  &.blog-section a {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: var(--primary-light);
    font-weight: 500;
  }
}
