body {
  --primary: #4483a2;
  --primary-dark: #1c3744;
  --secondary: #ed7954;

  color: white;
}

a,
button {
  color: white;
  text-decoration: none;
}

.secondary {
  a {
    color: var(--primary-dark);
  }
}
