@font-face {
  font-family: "RumbleBrave";
  src: url("./Rumble_Brave.woff2");
  font-display: swap;
}

body {
  --primary: #c14d32;
  --secondary: #346369;
  --primary-dark: #1c4241;
  --primary-light: #68e5f5;
  --tertiary: #ffedbf;
  --tertiary-dark: #f8dda2;
  --tertiary-darker: #f8dda2ac;
}

a {
  all: unset;
  cursor: pointer;
}

.secondary,
.primary-dark {
  a {
    color: var(--primary-dark);
    font-weight: 500;
  }
}
